
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JetBrainsMono-ExtraLight.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


.footer-container {
    background-color: rgb(15, 15, 15); 
    width: 100%;
    padding: 0.5em 0
}

.footer-text {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem; 
  color: lightpink;
  margin-left: -100%;
  margin: 0 0 0 0; 
  text-align: center;
  font-style: italic;
}


@media (max-width: 600px) {
  .header {
    padding: 0.5em 0; 
  }

  .header__container {
    width: 95%; 
  }

  .header__title {
    font-size: 1.1rem; 
  }

  .header__subtitle {
    font-size: 0.9rem; 
  }
}